<title>Admin Connexion</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="/css/backend.css">

<body id="LoginForm">
    <div class="container">
        <div class="login-form">
            <div class="main-div">
                <div class="panel">
                    <h2>Adminstration Connexion</h2>
                        <p>Entrer votre email et mot de passe</p>
                </div>
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <form action="{{ path('admin_login') }}" method="POST" id="Login">

                    <div class="form-group">

                    <input type="email" value="{{ last_username }}" name="_username" class="form-control" id="inputEmail" placeholder="Email address">

                    </div>

                    <div class="form-group">

                        <input type="password" class="form-control" name="_password" id="inputPassword" placeholder="Mot de passe">

                    </div>
                    <input type="hidden" name="_target_path" value="/admin/dashboard"/>
                    <!--<div class="forgot">
                        <a href="reset.html">Forgot password?</a>
                    </div>-->
                    <button type="submit" class="btn btn-primary">Connexion</button>

                </form>
            </div>
            <p class="botto-text">
                Designed by Said Mounaim</p>
        </div>
    </div>
</div>
