{% extends 'base.html.twig' %}

{% block title %}Connexion au site !{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <h1>Connectez Vous</h1>
            {% if hasErr %}
                <div class="alert alert-danger">
                    Adresse email ou mot de passe invalid
                </div>
            {% endif %}
            
            <form action="{{ path('account_login') }}" method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="_username" class="form-control" id="email" placeholder="Adresse email" value="{{username}}" required>
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" name="_password" class="form-control" id="password" placeholder="Mot de passe" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success" >Connexion</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
