{% extends 'base.html.twig' %}

{% block title %}Modification Mot de passe !{% endblock %}

{% block body %}

    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary" >Editer Mot de passe</button>

        {{ form_end(form) }}
    </div>

{% endblock %}
