{% extends 'base.html.twig' %}

{% block title %}Modification Profile{% endblock %}

{% block body %}

    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">Editer</button>
        {{ form_end(form) }}

    </div>

{% endblock %}
