{% extends 'base.html.twig' %}

{% block title %}Connexion au site !{% endblock %}

{% block body %}

    <div class="container">
        <h1>Inscrivez vous sur notre site</h1>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.firstName) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.lastName) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.email) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.password) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.confirmPassword) }}
            </div>
        </div>
        {{ form_rest(form) }}
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary" >Sauvgarder</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
