
a:hover {
    text-decoration: none;
}

.container {
    margin-top: 20px;
}

.ad-title {
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

.ad-title h1, .ad-title p {
    color: #fff;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.avatar-ads {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.user_name{
    font-size:19px;
    font-weight: bold;
    margin-left: 21px;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}

.user_comment {
    font-size:15px;
    margin-left: 21px;   
}

.vich-image img {
    width: 140px;
    margin-top: 10px;
}
