{% extends 'admin/base.html.twig' %}

{% block title %}Modification du reservation n°{{booking.id}}{% endblock %}

{% block body %}

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12">
                    <h2 class="page-title">Modification du reservation n°{{booking.id}}</h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="white-box">
                    {{ form_start(form, { 'attr' : {'class': 'form-horizontal form-material'}}) }}
                    <div class="row">
                        <div class="col-md-6" >
                            {{ form_row(form.startDate) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.endDate) }}
                        </div>
                        <div class="col-md-12" >
                            {{ form_row(form.comments) }}
                        </div>
                        <div class="col-md-6" >
                            {{ form_row(form.booker) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.ad) }}
                        </div>
                        <div class="col-md-12" >
                            <button class="btn btn-primary" type="submit">Suavgarder</button>
                        </div>
                        {{form_end(form)}}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
