{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des reservation{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/dataTables.bootstrap4.css">
{% endblock %}

{% block body %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12">
                    <h2 class="page-title">Gestions des reservation</h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>

        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="white-box">
                <div class="table-responsive">
                    <table class="table table-admin" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Date</th>
                                <th>Visiteur</th>
                                <th>Annonce</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for booking in bookings %}
                                <tr>
                                    <td>{{ booking.id }}</td>
                                    <td>{{ booking.createdAt|date('Y/m/d') }}</td>
                                    <td>{{ booking.booker.getFullName }}</td>
                                    <td>{{booking.ad.title}}</td>
                                    <td>
                                        <span class="text-success">
                                            <a class="fas fa-edit" href="{{path('admin_booking_edit',{'id':booking.id})}}"></a>
                                            <span class="fas fa-trash AdminDltBook" data-id="{{booking.id}}"></span>
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.bootstrap4.js"></script>
    <script src="/js/backend.js"></script>
{% endblock %}