<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!-- Menu CSS -->
    <link rel="stylesheet" href="/css/fontawesome-stars-o.css">
    <link rel="stylesheet" href="/css/fontawesome-stars.css">
    <link href="/css/sidebar-nav.min.css" rel="stylesheet">
    <!-- animation CSS -->
    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/backend.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="/css/default.css" id="theme" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>
    <body>

    {% include 'admin/includes/header.html.twig' %}

    {% block body %}{% endblock %}

    {% include 'admin/includes/footer.html.twig' %}

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/backend.js"></script>
    {% block javascripts %}{% endblock %}
    </body>

</html>