{% extends 'admin/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/dataTables.bootstrap4.css">
{% endblock %}

{% block body %}
       <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Dashboard</h4> </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <!-- ============================================================== -->
            <!-- Different data widgets -->
            <!-- ============================================================== -->
            <!-- .row -->
            <div class="row">
                <div class="col-lg-12 col-sm-6 col-xs-12">
                    <div class="white-box">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <div class="circle-tile ">
                                    <a href="#">
                                        <div class="circle-tile-heading dark-blue">
                                            <i class="fa fa-users fa-fw fa-3x"></i>
                                        </div>
                                    </a>
                                    <div class="circle-tile-content dark-blue">
                                        <div class="circle-tile-description text-faded">
                                            Total Utilisateur</div>
                                        <div class="circle-tile-number text-faded ">{{users}}</div>
                                        <a class="circle-tile-footer" href="#">More Info<i class="fa fa-chevron-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-6">
                                <div class="circle-tile ">
                                    <a href="#">
                                        <div class="circle-tile-heading blue">
                                            <i class="fa fa-home fa-fw fa-3x"></i>
                                        </div>
                                    </a>
                                    <div class="circle-tile-content blue">
                                        <div class="circle-tile-description text-faded">
                                            Total Post
                                        </div>
                                        <div class="circle-tile-number text-faded ">{{post}}</div>
                                        <a class="circle-tile-footer" href="{{path('admin_ads')}}">More Info<i class="fa fa-chevron-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-6">
                                <div class="circle-tile ">
                                    <a href="#">
                                        <div class="circle-tile-heading purple">
                                            <i class="fa fa-table fa-fw fa-3x"></i>
                                        </div>
                                    </a>
                                    <div class="circle-tile-content purple">
                                        <div class="circle-tile-description text-faded">
                                            Total Reservation
                                        </div>
                                        <div class="circle-tile-number text-faded ">{{booking}}</div>
                                        <a class="circle-tile-footer" href="{{path('admin_booking')}}">More Info<i class="fa fa-chevron-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-6">
                                <div class="circle-tile ">
                                    <a href="#">
                                        <div class="circle-tile-heading red">
                                            <i class="fa fa-comments fa-fw fa-3x"></i>
                                        </div>
                                    </a>
                                    <div class="circle-tile-content red">
                                        <div class="circle-tile-description text-faded">
                                            Total Commentaires
                                        </div>
                                        <div class="circle-tile-number text-faded ">{{comment}}</div>
                                        <a class="circle-tile-footer" href="{{path('admin_comment')}}">More Info<i class="fa fa-chevron-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.row -->

            <!-- ============================================================== -->
            <!-- table -->
            <!-- ============================================================== -->
 
            <div class="row" >
                <div class="col-md-6">
                    <div class="table-responsive white-box">
                    <h3><i class="fas fa-chart-line"></i> Annonces le plus populaire</h3>
                        <table class="table" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Annonce</th>
                                    <th>Author</th>
                                    <th>Rating</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ads in bestAds %}
                                    <tr>
                                        <td>{{ ads.id }}</td>
                                        <td>{{ ads.title }}</td>
                                        <td>{{ ads.firstName }}</td>
                                        <td>{{ ads.note}}</td>
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="table-responsive white-box">
                        <h3><i class="fas fa-chart-line-down"></i> Les pires annonces</h3>
                        <table class="table" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Annonce</th>
                                    <th>Author</th>
                                    <th>Rating</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ads in notAds %}
                                    <tr>
                                        <td>{{ ads.id }}</td>
                                        <td>{{ ads.title }}</td>
                                        <td>{{ ads.firstName }}</td>
                                        <td>{{ ads.note}}</td>
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.bootstrap4.js"></script>
{% endblock %}