{% extends 'base.html.twig' %}

{% block title %}Reservation l'annonce{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css">

<style>
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    color: red;
}
</style>

{% endblock %}

{% block body %}

{{ form_start(form) }}

<div class="container">

<h1>Reserve pour l'annonce: {{ ads.title }}</h1>
<p>vous etes sur le point de reserver le bien {{ ads.author.getFullName() }} ,dites nous tous on s'occupe du reste</p>

<div class="row">
    <h2>Commencez par nous dire quelles sont les dates qui vous interessent</h2>
    <div class="col-md-6">
        {{ form_row(form.startDate) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.endDate) }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Montant du séjour : <span id="amount" >...</span> Euro</h3>
        <p><span id="day" >0</span> nuit(s) à {{ads.price}} / nuits</p>
        <h2>Vous avez un commentaire</h2>
        <div class="form-group">
            {{ form_row(form.comments) }}
        </div>
        <h2>Vous avez termine !</h2>
        <p>Vacances de reve ? hebergement pour le boulot ? peu importe, on est avec nous</p>
        <div class="form-group" >
            <button class="btn btn-primary" type="submit">Reservé</button>
        </div>
    </div>
</div>
{{ form_end(form) }}

{% endblock %}


{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>

<script>

$(document).ready(function(){

$('#booking_startDate, #booking_endDate').datepicker({
    format: 'dd/mm/yyyy',
    datesDisabled: [
        {% for day in ads.getNotAvailableDays() %}
            "{{ day.format('d/m/Y') }}",
        {% endfor %}
    ],
    startDate: new Date()
});

$('#booking_startDate, #booking_endDate').on('change', calcAmount);

})

function calcAmount() { 

    const endDate = new Date($('#booking_endDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));
    const startDate = new Date($('#booking_startDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));
    
    if (endDate && startDate && startDate < endDate) 
    { 
        const DAY_TIME = 24 * 60 * 60 * 1000; 
        const interval = endDate.getTime() - startDate.getTime(); 
        const day = interval / DAY_TIME; 
        const amount = day * {{ ads.price }};

        $("#day").text(day);
        $("#amount").text(amount.toLocaleString('fr-FR'));

    }

}

</script>
{% endblock %}

