{% extends 'base.html.twig' %}

{% block title %}Mes Reservation{% endblock %}


{% block body %}

<div class="container">

    <h1>Mes Reservations</h1>
    <div class="alert alert-info mt-5">
        <p>Retrouvez ci-dessous toutes vos reservations passes et a venir</p>
    </div>

    {% for booking in app.user.bookings %}
        <div class="row">
            <div class="col-md-4">
                <a href="{{path('booking_show', {'id':booking.id})}}">
                    <img style="width:100%" src="{{ booking.ad.coverImage }}" alt="">
                </div>
            </a>
            <div class="col-md-8">
                <a href="{{ path('booking_show', {'id':booking.id}) }}">
                    <h4>{{ booking.ad.title }}
                    </h4>
                </a>
                <p>
                    Reservation
                    <strong>N°{{ booking.id }}</strong><br>
                    Du
                    {{ booking.startDate|date('Y/m/d') }}
                    au
                    {{ booking.endDate|date('Y/m/d') }}
                </p>
            </div>
        </div>
        <hr>
    {% endfor %}

</div>
{% endblock %}

