{% extends 'base.html.twig' %}

{% block title %}Reservation l'annonce{% endblock %}

{% block body %}

<div class="container">

<h1>Votre Reservation n° {{ booking.id }}</h1>

<div class="row">
    <div class="col">
        <div class="alert alert-light">

            <h2>Détails</h2>
            <dl class="row">
                <dt class="col-md-4">Numero</dt>
                <dd class="col-md-8">{{ booking.id }}</dd>
                <dt class="col-md-4">Date d'arrivee</dt>
                <dd class="col-md-8">{{ booking.startDate | date('m/d/y') }}</dd>
                <dt class="col-md-4">Date de depart</dt>
                <dd class="col-md-8">{{ booking.endDate | date('m/d/y') }}</dd>
                <dt class="col-md-4">Nombre de nuits</dt>
                <dd class="col-md-8">{{ booking.getDuration }}</dd>
                <dt class="col-md-4">Montant total</dt>
                <dd class="col-md-8">{{ booking.amount }}</dd>
                <dt class="col-md-4">Comments</dt>
                <dd class="col-md-8">{{ booking.comments | default('Aucun Commantaire') }}</dd>
            </dl>

            <hr>

            <h2 class="alert-heading">Votre hoté</h2>

            <div class="row">
                <div class="col-md-3">
                    <img style="width: 100%;height: 114px" src="{{ booking.ad.author.picture }}" alt="">
                </div>            
                <div class="col-md-4">
                    <a href="{{path('user_show',{'slug': booking.ad.author.slug})}}">
                    {{booking.ad.author.getFullName()}}                    
                    </a>
                    <br>
                    <span class="badge badge-primary" >{{ booking.ad.author.ads | length }} Annonces</span>
                </div>
            </div>
            <hr>

            <div class="row" >
                <div class="col-md-12">
                    {% set comment = booking.ad.commFromAuthor(app.user) %}
                    {% if comment is not null %}
                    <div class="row">
                        <div class="col-md-3" >
                            <img style="width:100px;border-radius:50%;" src="{{ comment.author.picture }}" alt="">
                            <p>{{ comment.author.getFullName() }}</p>
                        </div>      
                        <div class="col-md-6">
                            <p>{{ comment.content }}</p>
                            <hr>
                            <h6>Votre donnee</h6>
                            {% for i in 1..5 %}
                                {% if i <= comment.rating %}
                                    <i style="color:#f1c40f" class="fas fa-star"></i>
                                {% else %}
                                    <i class="far fa-star"></i>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% else %}
                        <h2>Votre avis compte !</h2>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button class="btn btn-primary" type="submit">Confirmer</button>
                        {{ form_end(form) }}
                    {% endif %}    
                </div>
            </div>

        </div>
    </div>

    <div class="col">
        <div class="alert alert-light">
            <h3>Votre hébergement</h3>
            <h4>
                <a href="{{ path('ads_show', {'slug':booking.ad.slug}) }}">
                {{booking.ad.title}}
                </a>
            </h4>
            <img style="width:100%;height:221px" src="{{booking.ad.coverImage}}" alt="" >
            <p>{{ booking.ad.description | raw }}</p>
            <a class="btn btn-primary" href="{{ path('ads_show', {'slug':booking.ad.slug}) }}">
            En savoir plus</a>
        </div>
    </div>

</div>

</div>

{% endblock %}


{% block javascripts %}
    <script src="/js/jquery.barrating.min.js"></script>
    <script>
        $(function () {
        $('#comment_rating').barrating({theme: 'fontawesome-stars', emptyValue: ''});
        });
    </script>
{% endblock %}