<!-- ============================================================== -->
<!-- Wrapper -->
<!-- ============================================================== -->
<div id="wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <nav class="navbar navbar-default navbar-static-top m-b-0" style="padding: 0px;">
        <div class="navbar-header">
            <!-- /Logo -->
            <ul class="nav navbar-top-links navbar-right pull-right dropdown">
                <li>
                    <a class="profile-pic" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{{app.user.picture}}" alt="user-img" width="36" class="img-circle">
                        <b class="hidden-xs">{{app.user.getFullName()}}</b>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-header -->
        <!-- /.navbar-top-links -->
        <!-- /.navbar-static-side -->
    </nav>
    <!-- End Top Navigation -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss -->
    <!-- ============================================================== -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav slimscrollsidebar">
            <div class="sidebar-head">
                <h3>
                    <span class="fa-fw open-close">
                        <i class="ti-close ti-menu"></i>
                    </span>
                    <span class="hide-menu">AdminSymBNB</span></h3>
            </div>
            <ul class="nav" id="side-menu">
                <li style="padding: 70px 0 0;">
                    <a href="##" class="waves-effect">
                        <i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Dashboard</a>
                </li>
                <li>
                    <a href="{{path('admin_ads')}}" class="waves-effect">
                        <i class="fa fa-home fa-fw" aria-hidden="true"></i>Gestions d'annonces</a>
                </li>
                <li>
                    <a href="{{path('admin_comment')}}" class="waves-effect">
                        <i class="fa fa-comments fa-fw" aria-hidden="true"></i>Gestion commantaires</a>
                </li>
                <li>
                    <a href="{{path('admin_booking')}}" class="waves-effect">
                        <i class="fa fa-table fa-fw" aria-hidden="true"></i>Gestion reservation</a>
                </li>
            </ul>
            <div class="center p-20"> <a href="{{path('homepage')}}" target="_blank" class="btn btn-danger btn-block waves-effect waves-light">Voir le site</a> </div>
        </div>

    </div>
    <!-- ============================================================== -->
    <!-- End Left Sidebar -->
    <!-- ============================================================== -->

</div>

<div class="row justify-content-center">
    <div class="col-12">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    </div>
</div>
