{% extends 'admin/base.html.twig' %}

{% block title %}Modification du commentaire n°{{comment.id}}{% endblock %}

{% block body %}

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12">
                <h2 class="page-title">Modification du commentaire n°{{comment.id}}</h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="white-box">

                    <div class="alert alert-info">
                        <h3 style="color:#fff" ><strong>Annonce :</strong> {{comment.ad.title}} </h3>
                        <h3 style="color:#fff"><strong>Rating :</strong>  
                        {% for i in 1..5 %}
                              {% if i > comment.rating %}
                                <i class="far fa-star" ></i>
                              {% else %}
                                <i class="fas fa-star"></i>
                              {% endif %} 
                        {% endfor %}
                        </h3>
                        <h3 style="color:#fff"><strong>Author :</strong> {{comment.author.getFullName()}}</h3>
                    </div>

                    {{ form_start(form, { 'attr' : {'class': 'form-horizontal form-material'}}) }}

                    <div class="row">
                        <div class="col-md-12">{{ form_row(form.content) }}</div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button class="btn btn-success">Editer Une Comment</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/ad.js"></script>
    <script src="/js/jquery.barrating.min.js"></script>
    <script>
        $(function () {
            $('#comment_rating').barrating({theme: 'fontawesome-stars', emptyValue: ''});
        });
    </script>
{% endblock %}