<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SymBNB - Bienvenue{% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/fontawesome-stars-o.css">
        <link rel="stylesheet" href="/css/fontawesome-stars.css">
        <link rel="stylesheet" href="/css/app.css" >
        {% block stylesheets %}{% endblock %}

    </head>
    <body>

    {% include 'includes/header.html.twig' %}

        {% block body %}{% endblock %}


    {% include 'includes/footer.html.twig' %}
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
