{% extends 'base.html.twig' %}

{% block title %}SymBNB - Bienvenue{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-3">Bienvenue sur SymBNB !</h1>
        <p class="lead">nous mettons en relation les voyageur et les propriétaires qui veulent profiter d'opportunités et gagner de l'argent en proposant leur bien à la location</p>
        <hr class="my-4">
        <p>vous etes voyageur ? Et vous voulez voir ou vous pourrez loger pour votre prochain déplacement ?</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annoces</a>
        </p>
    </div>

    <h1 class="h1 mt-3 mb-4">Nos Appartement Starts</h1>

    <div class="row">
        <div class="col-md-4 card bg-light mb-3">
            <div class="card-header text-center">
                3 chambers,
                <strong>49 Euro / nuit
                </strong>
                <br>
                ps encore note
            </div>
            <img src="http://placehold.it/1000x400" style="width: 100%;height:200px;display:block" alt="">

            <div class="card-body">
                <div class="card-title">
                    Appartement de ouf
                </div>
                <div class="card-text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. ratione provident minus quibusdam laudantium aliquam ut, repellendus sapiente praesentium velit vel quasi! Deleniti voluptate rem illum adipisci!
                </div>
                <a href="#" class="btn btn-primary mt-4">En savoir plus</a>
            </div>
        </div>
        <div class="col-md-4 card bg-light mb-3">
            <div class="card-header text-center">
                3 chambers,
                <strong>49 Euro / nuit
                </strong>
                <br>
                ps encore note
            </div>
            <img src="http://placehold.it/1000x400" style="width: 100%;height:200px;display:block" alt="">

            <div class="card-body">
                <div class="card-title">
                    Appartement de ouf
                </div>
                <div class="card-text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. ratione provident minus quibusdam laudantium aliquam ut, repellendus sapiente praesentium velit vel quasi! Deleniti voluptate rem illum adipisci!
                </div>
                <a href="#" class="btn btn-primary mt-4">En savoir plus</a>
            </div>
        </div>

        <div class="col-md-4 card bg-light mb-3">
            <div class="card-header text-center">
                3 chambers,
                <strong>49 Euro / nuit
                </strong>
                <br>
                ps encore note
            </div>
            <img src="http://placehold.it/1000x400" style="width: 100%;height:200px;display:block" alt="">

            <div class="card-body">
                <div class="card-title">
                    Appartement de ouf
                </div>
                <div class="card-text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. ratione provident minus quibusdam laudantium aliquam ut, repellendus sapiente praesentium velit vel quasi! Deleniti voluptate rem illum adipisci!
                </div>
                <a href="#" class="btn btn-primary mt-4">En savoir plus</a>
            </div>
        </div>
    </div>

    <h1 class="h1 mt-3 mb-4">Nos propriétaires Starts</h1>

    <div class="row">
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <div class="card-title">
                        Lior Chamla
                    </div>
                    <div class="card-text">
                        <img src="http://placehold.it/64x64" class="float-left mr-3" alt="">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, cumque!</p>
                        <a href="" class="btn btn-success float-right">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <div class="card-title">
                        Lior Chamla
                    </div>
                    <div class="card-text">
                        <img src="http://placehold.it/64x64" class="float-left mr-3" alt="">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, cumque!</p>
                        <a href="" class="btn btn-success float-right">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
