{% block _ad_images_widget %}

    <p>Ici vous pouvez ajouter une properties images !</p>

    {{ form_widget(form) }}
    <input type="hidden" id="counter-input" value="0">
    <div class="form-group">
        <button type="button" id="btn-addimage" class="btn btn-primary">Ajouter Une Images</button>
    </div>
{% endblock %}

{% block _ad_images_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _ad_images_entry_widget %}
    <div class="form-group" id="block_{{ id }}">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.imageFile) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.caption) }}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <span data-action="delete" data-target="#block_{{ id }}" class="btn btn-danger">X</span>
            </div>
        </div>
    </div>
{% endblock %}