{% extends 'base.html.twig' %}

{% block title %} SymBNB - Nos Appartement {% endblock %}

{% block body %}


<div class="container"> 

    {{ form_start(search) }}
        <div class="row">
            <div class="col-md-4">{{ form_row(search.title) }}</div>
            <div class="col-md-4">{{ form_row(search.rooms) }}</div>
            <div class="col-md-4">
                <button class="btn btn-primary"  type="submit">Search</button>
            </div>
        </div>
    {{ form_end(search) }}

    <h1 class="h1 mt-3 mb-4">Nos Appartement !</h1>
    <div class="row">
        {% for ad in pagination %}
            {% set url = path('ads_show', {slug: ad.slug}) %}
            <div class="col-md-4">
                <div class=" card bg-light mb-3">
                    <div class="card-header text-center">
                        {{ ad.rooms }}
                        chambers,
                        <strong>{{ ad.price | number_format(2, ',', ' ') }}
                            Euro / nuit
                        </strong>
                        <br>
                        {% if ad.comments | length > 0 %}
                            {% for i in 1..5 %}
                                {% if i <= ad.getAvgRating %}
                                    <i style="color:#f1c40f" class="fas fa-star"></i>
                                {% else %}
                                    <i class="far fa-star"></i>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            ps encore note
                        {% endif %}
                    </div>
                    <a href="{{ url }}">
                        <img src="{{ ad.coverImage }}" style="width: 100%;height:200px;display:block" alt="">
                    </a>
                    <div class="card-body">
                        <div class="card-title">
                            <a href="{{ url }}">
                                {{ ad.title }}
                            </a>
                        </div>
                        <div class="card-text">
                            {{ ad.introduction }}
                        </div>
                        <a href="{{ url }}" class="btn btn-primary mt-4">En savoir plus</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

</div>

{% endblock %}
