{% extends 'base.html.twig' %}

{% block title %}
    SymBNB - Création d'un Annonces
{% endblock %}

{% block body %}

{% form_theme form '/ad/_collection.html.twig' %}   

<div class="container mt-4">

    <h2>Créer les annonces</h2>

    {{ form_start(form) }}

    <div class="row">
        <div class="col-md-4">{{ form_row(form.title) }}</div>
        <div class="col-md-4">{{ form_row(form.slug) }}</div>
        <div class="col-md-4">{{ form_row(form.price) }}</div>
    </div>
    <div class="row">
        <div class="col-md-12">{{ form_row(form.introduction) }}</div>
    </div>
    <div class="row">
        <div class="col-md-12">{{ form_row(form.description) }}</div>
    </div>
    <div class="row">
        <div class="col-md-12">{{ form_row(form.coverImage) }}</div>
    </div>
    {{ form_rest(form) }}
    <button class="btn btn-primary">Créer Une Annonce</button>

    {{ form_end(form) }}

</div>

{% endblock %}


{% block javascripts %}
    <script src="/js/ad.js"></script>
{% endblock %}