{% extends 'base.html.twig' %}

{% block title %}
    SymBNB - {{ads.title}}
{% endblock %}

{% block body %}

    <div class="ad-title" style="background-image: url({{ ads.coverImage }})">
        <div class="container">
            <h1>{{ ads.title }}</h1>
            <p>{{ ads.introduction }}</p>
            <p class="h2">
            <strong>{{ ads.rooms }} chambers</strong> pour 
            <strong>{{ ads.price }} Euro</strong> par nuit
            </p>
            {% if ads.author == app.user %}
            <a class="btn btn-primary" href="{{ path('ads_edit',{'slug': ads.slug}) }}">Modifier Annonce</a>
            <a
             class="btn btn-danger"
             href="{{ path('ads_delete',{'id': ads.id}) }}"
             onClick="return confirm('etes vous sur supprimmer ?')"
             >Supprimmer l'annonce</a>
            {% else %}
                <a href="{{ path('booking_create',{'slug': ads.slug }) }}" class="btn btn-primary">Reservé !</a>
            {% endif %}
        
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-3">
                {{ ads.description | raw }}
            <br><br>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                {% for slide in ads.images %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{loop.index0}}" 
                    {% if loop.first %}class="active"{% endif %}>
                    </li>                   
                {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for image in ads.images %}
                    <div class="carousel-item {% if loop.first %}active{% endif %} ">
                    <img class="d-block w-100" src="/images/ads/{{image.image}}" >
                    </div>                        
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            </div>
            <div class="col">
                {% set a = ads.author %}
                <div class="row">
                    <div class="col-4">
                        <a href="{{ path('user_show', {slug: a.slug}) }}">
                            <img class="avatar-ads" src="{{a.picture}}" alt="Avatar de {{a.getFullname}}">
                        </a>
                    </div>
                    <div class="col">
                        <h3>{{a.getFullname}}</h3>
                        <span class="badge badge-primary">{{a.ads | length }} Annonce</div>
                    </div>
                    {{ a.description | raw }}
                </div>
            </div>
        </div>
    </div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="page-header">
                <h1>
                    <small class="float-right">{{ ads.comments | length }} comments</small>
                    Comments
                </h1>
            </div>
            <div class="comments-list">
            <div class="alert alert-info">
                <div class="row">
                    <div class="col-md-6">
                        <h6>Notre global donnee par nos voyageurs</h6>
                    </div>
                    <div class="col-md-6">
                        {% for i in 1..5 %}
                            {% if i <= ads.getAvgRating %}
                                <i style="color:#f1c40f" class="fas fa-star"></i>
                            {% else %}
                                <i class="far fa-star"></i>
                            {% endif %}
                        {% endfor %}
                        <span>( Calculee sur {{ ads.comments | length }} avis )</span>                
                    </div>
                </div>
            </div>

            {% for comment in ads.comments %}                
                <div class="media" style="padding: 20px;">
                    <p>
                        <small class="float-left">{{comment.createdAt | date('Y-m-d') }}</small>
                    </p>
                    <a class="media-left" href="{{ path('user_show', {'slug': comment.author.slug}) }}">
                        <img style="width:100px;border-radius:50%" src="{{ comment.author.picture }}">
                    </a>
                    <div class="media-body">

                        <h4 class="media-heading user_name">{{ comment.author.getFullName() }}</h4>
                        <p class="user_comment">{{comment.content}}</p>

                        <hr>

                        <h5>Note donnee par {{ comment.author.getFullName() }} : {{ comment.rating }}</h5>
                                                    
                        {% for i in 1..5 %}
                            {% if i <= comment.rating %}
                                <i style="color:#f1c40f" class="fas fa-star"></i>
                            {% else %}
                                <i class="far fa-star"></i>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            {% endfor %}

            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
  <script src="/js/ad.js"></script>  
{% endblock %}