{% extends 'admin/base.html.twig' %}

{% block title %}Modifier : {{ ads.title }}{% endblock %}

{% block stylesheets %}
    <style>
        .vich-image img {
            width: 140px;
            margin-top: 10px;
        }
    </style>
{% endblock %}

{% block body %}

    {% form_theme form '/ad/_collection.html.twig' %}

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12">
                    <h2 class="page-title">Modifier Annonce : {{ ads.title }}</h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="white-box">
                    <h3 class="mb-3" >Corigger l'annonce</h3>

                    {{ form_start(form, { 'attr' : {'class': 'form-horizontal form-material'}}) }}

                    <div class="row">
                        <div class="col-md-6">{{ form_row(form.title) }}</div>
                        <div class="col-md-6">{{ form_row(form.slug) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">{{ form_row(form.introduction) }}</div>
                        <div class="col-md-4">{{ form_row(form.price) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">{{ form_row(form.description) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">{{ form_row(form.coverImage) }}</div>
                    </div>
                    {{ form_rest(form) }}
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button class="btn btn-success">Editer Une Annonce</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="table-responsive white-box">
                    <h3 class="mb-3" >les reservation</h3>
                    <table class="table" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Visiteur</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for booking in ads.bookings %}
                                <tr>
                                    <td>{{ booking.id }}</td>
                                    <td>{{ booking.booker.getFullName }}</td>
                                    <td class="txt-oflo"> Du {{booking.startDate | date('Y/m/d')}} au {{booking.endDate | date('Y/m/d')}}</td>
                                    <td>
                                        <span class="text-success">
                                            <a class="fas fa-edit fa-sm" href="#">
                                            </a>
                                            <span class="fas fa-trash fa-sm" href="#">
                                            </span>
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive white-box">
                <h3 class="mb-3" >les commantaires</h3>
                    <table class="table" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Author</th>
                                <th>Rating</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for comment in ads.comments %}
                                <tr>
                                    <td>{{ comment.id }}</td>
                                    <td>{{ comment.author.getFullName }}</td>
                                    <td class="txt-oflo">{{ comment.rating }}</td>
                                    <td>
                                        <span class="text-success">
                                            <a class="fas fa-edit fa-sm" href="#">
                                            </a>
                                            <a class="fas fa-trash fa-sm" href="#">
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>          
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/ad.js"></script>
{% endblock %}