{% extends 'admin/base.html.twig' %}

{% block title %}Gestion d'annonce{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/dataTables.bootstrap4.css">
{% endblock %}

{% block body %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h2 class="page-title">Gestions d'annonces</h2>
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>

    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="white-box">
            <div class="table-responsive">
                <table class="table table-admin" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Titre</th>
                            <th>Chambers</th>
                            <th>Author</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for ad in ads %}
                        <tr>
                            <td>{{ ad.id }}</td>
                            <td class="txt-oflo">{{ad.title}}</td>
                            <td>{{ad.rooms}}</td>
                            <td class="txt-oflo">{{ad.author.getFullName()}}</td>
                            <td>
                            <span class="text-success">
                                <a class="fas fa-edit" href="{{path('admin_ads_edit', {'slug': ad.slug})}}"></a>
                                <span class="fas fa-trash AdminDltAds" data-id="{{ad.id}}" ></span>
                            </span></td>
                        </tr>                        
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block javascripts %}
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.bootstrap4.js"></script>
{% endblock %}