{% block stylesheets %}
    <style>
        body {
            background: url("https://i.imgur.com/76NZB7A.gif") no-repeat center center fixed;
            background-size: cover;
            font-family: "Raleway", sans-serif;
            background-color: #342643;
            height: 100%;
        }

        .text-wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .title {
            font-size: 6em;
            font-weight: 700;
            color: #EE4B5E;
        }

        .subtitle {
            font-size: 40px;
            font-weight: 700;
            color: #1FA9D6;
        }

        .buttons {
            margin: 30px;
        }
        .buttons a.button {
            font-weight: 700;
            border: 2px solid #EE4B5E;
            text-decoration: none;
            padding: 15px;
            text-transform: uppercase;
            color: #EE4B5E;
            border-radius: 26px;
            transition: all 0.2s ease-in-out;
        }
        .buttons a.button:hover {
            background-color: #EE4B5E;
            color: white;
            transition: all 0.2s ease-in-out;
        }
    </style>

{% endblock %}

{% block body %}

    <div class="text-wrapper">
        <div class="title" data-content="404">
            403
        </div>

        <div class="subtitle">
            Oups, vous n'avez pas la permission d'accéder à cette page.
        </div>

        <div class="buttons">
            <a class="button" href="{{ path('homepage') }}">Aller à la page d'accueil</a>
        </div>
    </div>

{% endblock %}
