{% extends 'base.html.twig' %}

{% block title %}Profile {{ user.getFullName }} {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-2">
            <img class="mb-3" src="{{ user.picture }}" alt="avatar {{ user.getFullName }}">
            <br>
            <span class="badge badge-primary">{{ user.ads | length }} Annonces</span>
        </div>
        <div class="col-10">
            <h1 style="display: inline-table;">{{ user.getFullName }}</h1>
            {% if user.isActiveNow() and is_granted("ROLE_USER")  %}
                <i style="color:#27ae60" class="fas fa-circle"></i>
                <span>En Ligne</span>
            {% elseif not user.isActiveNow() and is_granted("ROLE_USER") %}
                <i style="color:#e74c3c" class="fas fa-circle"></i>
                <span>Hors Ligne</span>
            {% endif %}
            <br>
            {% if user is same as(app.user) %}
                <a class="badge badge-primary p-2" href="{{ path('account_profile') }}">Modifier mes information</a>
                <a class="badge badge-primary p-2" href="{{ path('account_password') }}">Modifier mon mot de passe</a>
            {% endif %}
            
        </div>
    </div>

    {{ user.description | raw }}

    <hr>

    <h1>les annonces de {{ user.getFullName }}</h1>

    {% if user.ads | length <= 0 %}
        <div class="alert alert-danger">n'es pas encore d'annonces sur le site</div>
    {% endif %}

    <div class="row" >
        {% for ad in user.ads %}
            {% set url = path('ads_show', {slug: ad.slug}) %}
            <div class="col-md-4">
                <div class=" card bg-light mb-3">
                    <div class="card-header text-center">
                        {{ ad.rooms }}
                        chambers,
                        <strong>{{ ad.price }}
                            Euro / nuit
                        </strong>
                        <br>
                        {% if ad.comments | length > 0 %}
                            {% for i in 1..5 %}
                                {% if i <= ad.getAvgRating %}
                                    <i style="color:#f1c40f" class="fas fa-star"></i>
                                {% else %}
                                    <i class="far fa-star"></i>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            ps encore note
                        {% endif %}
                    </div>
                    <a href="{{ url }}">
                        <img src="{{ ad.coverImage }}" style="width: 100%;height:200px;display:block" alt="">
                    </a>
                    <div class="card-body">
                        <div class="card-title">
                            <a href="{{ url }}">
                                {{ ad.title }}
                            </a>
                        </div>
                        <div class="card-text">
                            {{ ad.introduction }}
                        </div>
                        <a href="{{ url }}" class="btn btn-primary mt-4">En savoir plus</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


</div>

{% endblock %}
